seaborn==0.11.1
datalab==1.2.0
lightgbm==3.2.1
matplotlib==3.4.1
pandas==1.2.3
joblib==1.0.1
pandas_profiling==1.4.0
numpy==1.19.5
ipdb==0.13.7
plotly==5.1.0
gcsfs==2021.7.0
streamlit==0.86.0
imbalanced_learn==0.8.0
pytz==2021.1
requests==2.25.1
fastapi==0.68.1
imblearn==0.0
protobuf==3.18.0
scikit_learn==0.24.2
uvicorn==0.14.0
google-cloud-pubsub==2.8.0
google-cloud-storage==1.42.1
google-api-python-client==2.20.0